In [44]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
from collections import Counter

In [47]:
df=pd.read_csv('C:\\news.csv')

In [17]:
df.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6335 entries, 0 to 6334
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6335 non-null   int64
 1   title       6335 non-null   object
 2   text        6335 non-null   object
 3   label       6335 non-null   object
dtypes: int64(1), object(3)
memory usage: 198.1+ KB

In [19]:
df["label"].value_counts(normalize = True)

REAL    0.500552
FAKE    0.499448
Name: label, dtype: float64

In [20]:
def concat_all_sentences(sents):
    all_tokens = ''
    for text in sents:
        tx = str(text).lower().strip()
        tx = tx.replace('\n',' ')
        tx = tx.replace('&amp',' ')
        tx = tx.replace('#','')
        tx = tx.replace('-','')
        tx = tx.replace(';','')
        tx = " ".join(tx.split())
        all_tokens += tx + " "
    return all_tokens

In [33]:
fake_tokens = concat_all_sentences(df[df['label']=='FAKE']['title'])
real_tokens = concat_all_sentences(df[df['label']=='REAL']['title'])

In [34]:
stopwords_en = set(stopwords.words('english'))

In [35]:
fake_tokens_words = [w for w in fake_tokens.split() if w not in stopwords_en]
real_tokens_words = [w for w in real_tokens.split() if w not in stopwords_en]

In [36]:
Counter(fake_tokens_words).most_common(20)

[('trump', 361),
 ('hillary', 327),
 ('clinton', 265),
 ('–', 171),
 ('election', 141),
 ('new', 137),
 ('us', 136),
 ('fbi', 109),
 ('comment', 105),
 ('russia', 94),
 ('|', 93),
 ('news', 91),
 ('war', 89),
 ('&', 82),
 ('donald', 80),
 ('world', 79),
 ('emails', 57),
 ('campaign', 56),
 ('america', 55),
 ('u.s.', 55)]

In [37]:
Counter(real_tokens_words).most_common(20)

[('trump', 433),
 ('clinton', 285),
 ('gop', 213),
 ('obama', 193),
 ('donald', 185),
 ('hillary', 168),
 ('new', 136),
 ('debate', 124),
 ('2016', 114),
 ('house', 110),
 ('says', 100),
 ('sanders', 97),
 ('campaign', 90),
 ('iran', 85),
 ('cruz', 85),
 ('white', 83),
 ('republicans', 82),
 ('state', 81),
 ('deal', 75),
 ('us', 74)]